// colors
$text-black-color: #34313D;
$bg-blue-color: #3A3054;
$bg-blue-white-color: #4B3F6B;
$gray-color: #9E9AA8;
$main-bg-color: #EFF1F7;
$btn-bg-color: #2BD0D0;
$white-color: #FFFFFF; 
$btn-hover-bg-color: #9AE3E3;
$input-border-color: #F46363;

// fonts
$main-font-family: 'Poppins', Arial, sans-serif;
$main-font-size: 2rem;
$main-links-size: 1.5rem;
$hero-title-size: 8rem;
$hero-text-size: 2.2rem;
$main-title-size: 4rem;
$bold-font-weight: 700;
$normal-font-weight: 500;